rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow anyone to create a submission.
    // Reading submissions is handled by the admin-only backend.
    match /submissions/{submissionId} {
      allow read: if request.auth != null && request.auth.uid == '12i4F1gO4Bgx4GgK1D0G3f6g1e2';
      allow create: if true;
      allow update, delete: if false; // Deletion is handled by the backend flow
    }

    match /users/{userId} {
      // A user can be created during signup
      allow create: if request.auth.uid != null;
      // Users can only read or update their own profile
      allow read, update: if request.auth.uid == userId;

      // Saved tutorials can only be managed by their owner
      match /savedTutorials/{tutorialId} {
        allow read, create, delete, update: if request.auth.uid == userId;
      }
    }
  }
}
